.snakemake/
alignment/
qual_ctrl/
coverage/
fastq/*
logs/*
logs/cluster/*
datavis/
scripts/.snakemake*
correlations/
peakcalling/
snakemake.err
snakemake.log
diff_exp/
motifs/
rulegraph.svg
dag.svg
Rplots.pdf
gene_ontology/
seq_logos/
mogrify.log

config.yaml

!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
