.snakemake/
logs/*
logs/cluster/*
scripts/.snakemake*
fastq/*
alignment/
qual_ctrl/
coverage/
datavis/
peakcalling/
diff_exp/
motifs/
gene_ontology/
seq_logos/

snakemake.err
snakemake.log
rulegraph.svg
dag.svg
Rplots.pdf
mogrify.log
README.html

config.yaml

!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
