.snakemake/
alignment/
qual_ctrl/
coverage/
fastq/*
logs/*
logs/cluster/*
datavis/
scripts/.snakemake*
correlations/
snakemake.err
snakemake.log
diff_exp/

config.yaml

!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
